@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "variables";
@import "mixins";

@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;
}

.blue-line {
  &::after {
    width: 1px;
    background: $primary-color;
    height: 100vh;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    opacity: 1;
  }
}
